<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCSurMesure"
        tools:targetApi="31">


        <activity android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AdminActivity" />
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.AddUserActivity" />
        <activity android:name=".ui.AssemblerActivity" />
        <activity android:name=".ui.StoreKeeperActivity" />
        <activity android:name=".ui.AccountSetting" />
        <activity android:name=".ui.AddComponentActivity" />
        <activity android:name=".ui.StockStorekeeperActivity" />
        <activity android:name=".ui.EditComponentActivity" />
        <activity android:name=".ui.ComponentList" />
        <activity android:name=".ui.stockAdminActivity" />
        <activity android:name=".ui.createOrderActivity" />
        <activity android:name=".ui.ListOrder" />
        <activity android:name=".ui.EditOrderList" />
        <activity android:name=".ui.OrderWaitlistActivity" />
        <activity android:name=".ui.ComponentsWaitlistActivity" />
        <activity android:name=".ui.SignUpActivity"
            android:exported="true" />
        <activity android:name=".ui.Remove" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>
